<!-- Footer -->
<footer>
   <div class="container">
   <!-- Subscription -->
   <div class="whitepaper">
      <div class="whitepaper__content">
         <h2 class="whitepaper__heading">Subscribe to Tieto's newsletter</h2>
         <p>Stay on top of the latest developments and insights in business renewal</p>
         <a class="btn roundedBtn whiteBtn" href="#modal_9957" data-toggle="modal">Subscribe now</a>
      </div>
   </div>
   <!-- Modal -->
   <div class="modal fade" id="modal_9957" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" name="remove" class="button closeBtn" data-dismiss="modal" aria-label="Close">
                  <svg class="icon icon_close">
                     <title>Close</title>
                     <use xlink:href="#icon_close"></use>
                  </svg>
               </button>
            </div>
            <div class="modal-body">
               <div class="row">
                  <div class="col-md-6">
                     <h3>Thank you for showing interest in our monthly newsletter - Tieto Talks.</h3>
                     <p>The newsletter provides market insights, the latest news from Tieto, success stories and much more.</p>
                     <p>In order to make the newsletter more personal for you, we kindly ask you to choose your subscription preferences!</p>
                     <p>We hope you will enjoy the news!</p>
                     <style>
                        <!--
                           .mktoForm textarea.mktoField {
                              border: solid 1px #dbdbdb !important;
                              background: #fafafa !important;
                           }
                           
                           
                            .blockWrapper_releaseBlock {
                               margin: 0 -15px 50px -15px;
                               padding: 60px 15px;
                               background: #e0e0e0;
                           }
                           @media only screen and (max-width: 480px) {
                               .blockWrapper_releaseBlock {
                                   margin: -20px -15px 30px -15px;
                                   padding: 20px 15px;
                                   background: #e0e0e0;
                               }
                           .boxes.no-gutters {
                                  margin-bottom: 50px;
                               }
                           }
                           .checkerBlock .imageTile:after {
                               background-image: none;
                           }
                           @media only screen and (min-width: 480px) {
                           .benefitBlock .col-md-4 h2, .col-md-9 .summaryBlock h2 {
                               line-height: inherit;
                           }}
                           -->
                     </style>
                  </div>
                  <div class="col-md-6">
                     <form class="mktoForm" data-formid="6810"></form>
                     <script>
                        try {
                            if (mktoFormConfig == undefined) {
                                var mktoFormConfig = {
                                    podId: "//app-e.marketo.com",
                                    munchkinId: "517-ITT-285",
                                    formIds: [6810]
                                };
                            }
                            else {
                                if(mktoFormConfig.formIds.indexOf(6810) === -1) {
                                    mktoFormConfig.formIds.push(6810);
                                    }
                            }
                        } catch (e) {
                            // For some reason MktoForms2 script could not be loaded
                            if (typeof MktoForms2 === "undefined") {
                        
                                document.getElementById('mktoForm_6810').innerHTML = "<div class=\"alert alert-warning\">In case when you see this notification, that's a possible sign of that you have an ad blocker feature enabled in your browser, which holds up loading this form properly. If you want to use this form to submit information to us, then we would kindly request you to take the time of changing the settings of your adblocker allowing &lt;em&gt;app-e.marketo.com&lt;/em&gt;. After this is done, the reloaded page should display the form properly.</div>";
                            }
                        }
                     </script>
                     <div id="mktoConfirm_6810" style="display: none;">
                        <h3>Thank you for subscribing to our newsletter</h3>
                        <p>We will make sure to include you in our next send-out.</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="modal-footer"></div>
         </div>
      </div>
   </div>
   <!-- /Subscription -->
   <!-- Social icons -->
   <div class="social-icons">
      <div class="social-icons__icon">
         <a href="http://facebook.com/TietoCorporation" title="Facebook" target="_blank">
         <img src="https://www.tieto.com/globalassets/images/icons/social-media/social-fb.png" alt="Facebook">
         </a>
      </div>
      <div class="social-icons__icon">
         <a href="http://www.twitter.com/tietocorp" title="Twitter" target="_blank">
         <img src="https://www.tieto.com/globalassets/images/icons/social-media/social-twit.png" alt="Twitter">
         </a>
      </div>
      <div class="social-icons__icon">
         <a href="http://linkedin.com/company/tieto" title="LinkedIn" target="_blank">
         <img src="https://www.tieto.com/globalassets/images/icons/social-media/social-linked.png" alt="LinkedIn">
         </a>
      </div>
      <div class="social-icons__icon">
         <a href="https://youtube.com/user/TietoCorporation" title="Youtube" target="_blank">
         <img src="https://www.tieto.com/globalassets/images/icons/social-media/social-youtube.png" alt="Youtube">
         </a>
      </div>
   </div>
   <!-- /Social icons -->
   <!-- Links list -->
   <div class="links-list">
      <h3 class="links-list__heading">Information</h3>
      <ul class="links-list__list">
         <li><a href="/en/contact-tieto/" title="Contact Tieto">Contact Tieto</a></li>
         <li><a href="/en/privacy-notice/" title="Privacy notice">Privacy notice</a></li>
         <li><a href="/en/legal-notice/" title="Legal notice">Legal notice</a></li>
         <li><a href="/en/information-for-suppliers/" title="Information for suppliers" target="_top">Information for suppliers</a></li>
         <li><a href="/en/about-us/partners/" title="Partners">Partners</a></li>
      </ul>
   </div>
   <!-- /Links lists -->
   <!-- Links list 2-->
   <div class="links-list">
   <h3 class="links-list__heading">Discover</h3>
   <ul class="links-list__list">
   <li><a href="/en/events/" target="_top">Our events</a></li>
   <li><a href="/en/success-stories/" target="_top">Success stories</a></li>
   <li><a href="/en/newsroom/all-news-and-releases/" target="_top">News and releases</a></li>
   <!-- Footer -->
</footer>
<!-- Footer -->
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="static/js/materialize.js"></script>
<script src="static/js/init.js"></script>
<!-- Jesse JCharis -->
<!-- Footer -->
</body>
</html>