<section class="slider mypad">
   <div id="index-banner" class="parallax-container">
      <ul class="slides addbyme">
         <li>
            <img  src="https://www.tieto.com/contentassets/946148a6f4294a8b9228d4b70c1f75bd/investors.jpeg" style="opacity:0.3!important;" alt="Unsplashed background img 1" alt="">
            <div class="caption center-align">
               <h2>Summarization Simplified</h2>
               <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                  Using SpaCy,Gensim,NLTK and Sumy
               </h5>
               <div class="row center">
                  <a href="{{url_for('index')}}" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Refresh</a>
               </div>
            </div>
         </li>
         <li>
            <img addbyme src="https://www.tieto.com/contentassets/6dcb14a9712b4efd994e5d812021e080/2560x1440px_contact2.jpg" style="opacity:0.3!important;" alt="Unsplashed background img 1">
            <div class="caption center-align">
               <h2>Text Summarizer with SpaCy</h2>
               <h5 class="light grey-text text-lighten-3 hide-on-small-only">
                  NLP based App
               </h5>
               <a href="#aboutapp" class="btn btn-large waves-effect waves-light light-blue lighten-1">Learn More</a>
            </div>
         </li>
      </ul>
   </div>
</section>